[submodule "build-tools"]
	path = build-tools
	url = https://github.com/btfuse/build-tools.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
